input[type="text"], input[type=email], input[type=tel], textarea {
    @extend %appearance-none;
    display: block;
    width: 100%;
    font-family: $baseFont, 'Helvetica', 'Arial', sans-serif;
    color: $fontColor;
}

textarea {
    resize: vertical;
}

input[type=submit] {
    @extend %button-reset;
    cursor: pointer;
    width: 100%;
}

.input-group {

}

