%appearance-none {
    @include vendor-prefixes(appearance, none, moz webkit);
}
%button-reset {
    @extend %appearance-none;
    border: none;
    font-family: $baseFont, 'Helvetica', 'Arial', sans-serif;
}

%pseudo-block {
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

%full-part {
    @extend %pseudo-block;
    z-index: -2;
}
%full-left {
    @extend %full-part;
    left: -100vw;
}
%full-right {
    @extend %full-part;
    right: -100vw;
}

%section-margin {
    margin-top: $marginSmall;
    margin-bottom: $marginSmall;
    @include min-width(md) {
        margin-top: $marginLarge;
        margin-bottom: $marginLarge;
    }
}
%section-padding {
    padding-top: $marginSmall;
    padding-bottom: $marginSmall;
    @include min-width(md) {
        padding-top: $marginLarge;
        padding-bottom: $marginLarge;
    }
}

