@mixin container($gutters: true, $nested: true, $class: 'row') {

    @if $nested {
        margin-left: auto;
        margin-right: auto;
        padding-left: $gutterMid;
        padding-right: $gutterMid;
        @each $format, $pixel in $breakpoints {
            @include min-width($format) {
                max-width: $pixel;
            }
        }
    } @else {
        max-width: 100%;
        margin: 0;
    }

    .#{$class} {
        display: flex;
        flex-wrap: wrap;

        & .#{$class} {
            @include padding-w(0);
            margin: 0 auto;
        }
        & > * {
            @include grid-col(12);
        }
    }

    @if $gutters {

        .#{$class} {
            margin: 0 ($gutterMid * -1);
            & > * {
                padding-left: $gutterMid;
                padding-right: $gutterMid;
            }
        }

    }


}

@mixin grid-col($i) {
    flex-basis: (math.div(100, math.div($gridCols, $i)) * 1%);
}

@mixin offset-col($i, $orientation: 'left') {
    margin-#{$orientation} : (math.div(100, math.div($gridCols, $i)) * 1%);
}

