@mixin alignment($x: center, $y: center, $direction: row) {

    display: flex;
    flex-direction: $direction;

    @if ($direction == column or $direction == column-reverse) {
        justify-content: $y;
        align-items: $x;
    } @else {
        justify-content: $x;
        align-items: $y;
    }

}

@mixin vendor-prefixes($property, $value, $prefixes: (moz, o, webkit, ms), $onProperty: true) {
    @each $prefix in $prefixes {
        @if $onProperty {
            #{'-' + $prefix + '-' + $property}: $value;
        } @else {
            $property: #{'-' + $prefix + '-' + $value};
        }
    }
    #{$property}: $value;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

@mixin transition($value) {
    @include vendor-prefixes(transition, $value, (moz, o, webkit));
}
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}
@mixin animation($value) {
    @include vendor-prefixes(animation, $value, (moz, o, webkit)); 
}

@mixin bg-sides($color) {
    background-color: $color;
    box-shadow: 0 0 0 100vmax $color;
    clip-path: inset(0 -100vmax);
}

@mixin square-max($dim) {
    max-height: $dim;
    max-width: $dim;
}
@mixin square-min($dim) {
    min-height: $dim;
    min-width: $dim;
}
@mixin square($dim) {
    height: $dim;
    width: $dim;
}

@mixin ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}

@mixin input-placeholder {
    @include vendor-prefixes(appearance, textfield, (moz, webkit));
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::placeholder {
        @content;
    }
}
