@mixin alignment($x: center, $y: center, $direction: row) {

    display: flex;
    flex-direction: $direction;

    @if ($direction == column or $direction == column-reverse) {
        justify-content: $y;
        align-items: $x;
    } @else {
        justify-content: $x;
        align-items: $y;
    }

}

@mixin vendor-prefixes($property, $value, $prefixes: (moz, o, webkit, ms), $onProperty: true) {
    @each $prefix in $prefixes {
        @if $onProperty {
            #{'-' + $prefix + '-' + $property}: $value;
        } @else {
            $property: #{'-' + $prefix + '-' + $value};
        }
    }
    #{$property}: $value;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

@mixin transition($value) {
    @include vendor-prefixes(transition, $value, (moz, o, webkit));
}

@mixin full-sides($color) {
    &::before, &::after {
        background: $color;
    }
    &::before {
        @extend %full-left;
    }
    &::after {
        @extend %full-right;
    }
}

@mixin square-container($dim) {
    max-height: $dim;
    max-width: $dim;
}

@mixin ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}
